<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babibeng.shimao.sun.dao.CustomerAddressMapper">
  <resultMap id="BaseResultMap" type="com.babibeng.shimao.sun.model.CustomerAddress">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customerid" jdbcType="INTEGER" property="customerid" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="linkephone" jdbcType="VARCHAR" property="linkephone" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>