<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration >
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- 输出到日志文件 每天一个日志  -->
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/catlog" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="encoding" value="utf-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />
		</layout>
	</appender>
	<!--通过<logger></logger>的定义可以将各个包中的类日志输出到不同的日志文件中-->
	<logger name="com.babibeng.shimao.sun">
		<level value="info" />
	</logger>
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<!--<appender-ref ref="file" />-->
	</root>
</log4j:configuration>
