<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babibeng.shimao.sun.dao.MessageInfoMapper">
  <resultMap id="BaseResultMap" type="com.babibeng.shimao.sun.model.MessageInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customerid" jdbcType="INTEGER" property="customerid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="origintype" jdbcType="VARCHAR" property="origintype" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
</mapper>